---
import Layout from '@/layouts/Layout.astro'
import PageHead from '@/components/PageHead.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/util';
import { defaultLang } from '@/i18n/ui';
import { getCollection } from 'astro:content';
import AlbumCard from '@/components/AlbumCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const allAlbums = await getCollection('albums');
const albums = allAlbums.filter(
  (album) => (album.data.lang ?? defaultLang) === lang
);
---

<Layout>
  <PageHead slot="head" title={t('nav.gallery')} />
  <Breadcrumbs items={[{ label: 'nav.gallery', icon: 'lucide:image' }]} />

  <h1 class="mb-4 text-2xl font-medium">{t('nav.gallery')}</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {albums.map(({ id, data }) => {
      const baseId = id.replace(/\.zh$/, '');
      return (
        <AlbumCard
          id={baseId}
          title={data.title}
          description={data.description}
          cover={data.cover}
        />
      );
    })}
  </div>
</Layout>