---
import Link from '@/components/Link.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import MobileMenu from '@/components/ui/mobile-menu'
import { SITE } from '@/consts'
import { Image } from 'astro:assets'
import logo from '../../public/static/avatar.png'
import { getLangFromUrl, useTranslations, useTranslatedPath } from 'src/i18n/util.ts'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<header
  class="bg-background/50 sticky top-0 z-10 backdrop-blur-md"
  transition:persist
>
  <div
    class="mx-auto flex max-w-3xl flex-wrap items-center justify-between gap-4 p-4"
  >
    <Link href={translatePath('/')} class="flex shrink-0 items-center gap-2 text-xl font-medium">
      <Image src={logo} alt="Logo" class="size-8" />
      {SITE.title}
    </Link>
    <div class="flex items-center gap-2 md:gap-4">
      <nav class="hidden items-center gap-4 text-sm sm:gap-6 md:flex">
        <Link href={translatePath('/blog/')} class="text-foreground/60 hover:text-foreground/80 capitalize transition-colors">
          {t('nav.blog')}
        </Link>
        <Link href={translatePath('/publications/')} class="text-foreground/60 hover:text-foreground/80 capitalize transition-colors">
          {t('nav.publications')}
        </Link>
        <Link href={translatePath('/gallery/')} class="text-foreground/60 hover:text-foreground/80 capitalize transition-colors">
          {t('nav.gallery')}
        </Link>
        <Link href={translatePath('/tags/')} class="text-foreground/60 hover:text-foreground/80 capitalize transition-colors">
          {t('nav.tags')}
        </Link>
      </nav>
      <MobileMenu lang={lang} client:load transition:persist />
      <ThemeToggle transition:persist />
    </div>
  </div>
</header>
