---
import { languages, defaultLang } from '@/i18n/ui'
import { getLangFromUrl } from 'src/i18n/util.ts'
import Link from '@/components/Link.astro'

const currentUrl = Astro.url
const lang = getLangFromUrl(Astro.url)
const pathname = currentUrl.pathname
---

<ul class="flex gap-4 justify-center">
    {
      Object.entries(languages).map(([code, label]) => {
        let pathParts = pathname.split('/').filter(Boolean)
        const isDefault = code === defaultLang
  
        if (lang !== defaultLang) {
          pathParts = pathParts.slice(1) 
        }
  
        const translatedPath = isDefault
          ? `/${pathParts.join('/')}` 
          : `/${code}/${pathParts.join('/')}` 
  
        return (
          <li>
            <Link href={translatedPath} class="hover:text-foreground/80" data-astro-reload>
              {label}
            </Link>
          </li>
        )
      })
    }
  </ul>